.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  transition: visibility 0.3s ease;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.modal__content {
  position: relative;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 28px 28px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000000;
  margin: 8px 0 24px;
  width: 100%;
}

.modal__legend {
  margin: 0 0 12px;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 8px;
}

.modal__radio-input {
  position: relative;
  top: 18px;
}

.modal__submit {
  max-width: 124px;
  height: 36px;
  margin-top: 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

.modal__submit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}
