.card {
  position: relative;
  width: 323px;
  height: 328px;
  display: flex;
  justify-content: center;
  border: solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
}

.card__title {
  position: absolute;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  top: 15px;
  margin: 0;
  border-radius: 4px;
  padding: 2px 12px;
  gap: 8px;
  background: rgba(255, 255, 255, 1);
  text-align: center;
}

.card__img {
  width: 100%;
}

.card__like-button {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
