.modal__content_type_image {
  padding: 0 !important;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__caption {
  margin-left: 32px;
  font-size: 20px;
}

.modal__delete-button {
  cursor: pointer;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  color: rgba(255, 77, 0, 1);
  font-size: 20px;
  border: none;
  background-color: transparent;
  margin-right: 26px;
}

.modal__delete-button_hidden {
  display: none;
}

.modal__weather {
  margin: 12px 0px 32px 32px;
  font-size: 20px;
}
