.sidebar {
  display: flex;
  max-width: 229px;
  font-family: "Grotesk", sans-serif;
  height: 56px;
  align-items: center;
  margin-right: 100px;
  flex-wrap: wrap;
  gap: 16px;
  white-space: nowrap;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.sidebar__edit-button {
  cursor: pointer;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.sidebar__signout-button {
  cursor: pointer;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  border: none;
  background-color: transparent;
}
